.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: deepskyblue;
}

.dialog {
text-decoration: none;
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}
